<div class="wrapper">
  <div class="container">
    <!--  WELCOME HEADER -->
    <div id="welcome">
      <h1>
        Welcome to : {{applicationTitle}} 👋
      </h1>
    </div>

    <hamradio-club-angularnx-hero></hamradio-club-angularnx-hero>

    <!--  MIDDLE CONTENT  -->
    <div id="middle-content">
      <hamradio-club-angularnx-learning-materials></hamradio-club-angularnx-learning-materials>

      <div id="other-links">
        <hamradio-club-angularnx-repeater-list></hamradio-club-angularnx-repeater-list>
        <hamradio-club-angularnx-net-list></hamradio-club-angularnx-net-list>
        <hamradio-club-angularnx-arrl-learn></hamradio-club-angularnx-arrl-learn>
      </div>
    </div>

    <p id="love">
      Build with Nx / Angular
      <svg fill="currentColor" stroke="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
      </svg>
    </p>
  </div>
</div>