h2 {font-weight: 500;
font-size: 1.25rem;
letter-spacing: -0.025em;
line-height: 1.75rem;
padding-left: 1rem;
padding-right: 1rem;
}
table{
    width: 100%;
    padding: 5px;
}
table thead {
    font-weight: bold;
}
.pltone{
    font-size: .8em;
}